
.album-detail .go-back {
  position: absolute;
  left: 1rem;
  top: 3rem;
  background: #fff;
  border: 0;
  font-size: 2vh;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
}

.album-detail .go-back:hover {
	background-color: #0091EA;
  color: #fff;
}

.album-detail header {
  text-align: center;
}

.album-detail header h1 {
  font-weight: 300;
  font-size: 5vh;
  margin: 3rem 0;
}

.album-detail ul {
  list-style: none;
  padding: 0;
}

.album-detail ul li:not(:first-child) {
  margin-top: 3rem;
}

.album-detail img {
  max-width: 100%;
}

.album-detail ficaption {
  display: none;
}

.album-overlay-content {
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.album-overlay-content img {
  width: 80vw;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
}

.album-overlay-shadow {
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

